
nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.4s ease;

    @include sm {
      display: none;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 24px;
      }
      span {
        @include md {
          display: none;
        }

        @include sm {
          display: initial;
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $secondary-color;
    height: 100%;

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .register {
      background-color: $primary-color;
      border-radius: 5px;
    }

    .menuIcon {
      display: none;
      z-index: 999;
      width: 30px;
      height: 24px;
      cursor: pointer;
      transition: all 0.3s ease;

      .bar {
        width: 100%;
        height: 4px;
        border-radius: 20px;
        background-color: #333;
        transition: all 0.7s ease;
        position: relative;

        &:nth-child(1) {
          transform: translateY(0);
        }

        &:nth-child(2) {
          transform: translateY(0);
        }

        &:nth-child(3) {
          transform: translateY(0);
        }
      }

      &.open {
        .bar {
          &:nth-child(1) {
            transform: rotate(45deg) translateY(14px);
            background-color: $text-color;
          }

          &:nth-child(2) {
            opacity: 0;
            background-color: $text-color;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translateY(-14px);
            background-color: $text-color;
          }
        }
      }

      @include sm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: $background-color;
      color: $text-color;
      height: 100vh;
      width: 50%;
      transition: all 0.7s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      &.active {
        right: 0;
      }
      @include sm {
        a {
          display: initial;
        }
      }
      @include lg {
        display: none;
      }
      @include sm {
        display: flex;
      }
    }
  }
}
